# Git version control files
.git
.gitignore

# Docker specific files
.dockerignore
backend.Dockerfile
docker-compose.yml

# Node.js dependency folders
node_modules
server/node_modules

# Build artifact folders
dist

# Environment variable files
.env
server/.env

# WhatsApp Web JS session data (this should be handled by volumes, not copied)
server/.wwebjs_auth
server/.wwebjs_cache

# Temporary files and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/uploads/*